@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  background-color: var(--link-white);
  color: var(--gray1000);
}

strong {
  font-weight: normal;
}

:root {
  --gray100: #1917261a;
  --gray200: #19172633;
  --gray300: #1917264d;
  --gray400: #19172666;
  --gray500: #19172680;
  --gray600: #19172699;
  --gray700: #191726b3;
  --gray800: #191726cc;
  --gray900: #191726e6;
  --gray1000: #191726;
  --link-white: #f9f8fe;
  --link-white100: #f9f8fe1a;
  --link-purple: #5941f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --gray1000: #f9f8fe;
    --gray900: #f9f8fee6;
    --gray800: #f9f8fecc;
    --gray700: #f9f8feb3;
    --gray600: #f9f8fe99;
    --gray500: #f9f8fe80;
    --gray400: #f9f8fe66;
    --gray300: #f9f8fe4d;
    --gray200: #f9f8fe33;
    --gray100: #f9f8fe1a;
    --link-white: #191726;
    --link-white100: #1917261a;
    --link-purple: #5941f5;
  }
}

.text-title {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1px;
}

.text-header {
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.4px;
}

.text-description {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.2px;
}

.text-paragraph {
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -0.44px;
}

.text-subtext {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}

.text-item {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.6px;
}

@media (max-width: 768px) {
  .text-title {
    font-size: 30px;
  }

  .text-header {
    font-size: 25px;
  }

  .text-description {
    font-size: 20px;
  }

  .text-paragraph {
    font-size: 18px;
  }

  .text-subtext {
    font-size: 15px;
  }

  .text-item {
    font-size: 15px;
  }
}